:root {
    --secondary-color: rgb(22,175,228);
    --secondary-light-color: #98c4e4;
    --black-color: rgb(0,0,0);
    --white-color: rgb(255,255,255);
    --gray-color: rgb(66,70,70);
    --gray-light-color: rgb(207,211,216);
}

/*tul light bluergb(22,175,228);*/
/*col lighter blue rgb(150,193,231);*/
/*chr dark gray rgb(66,70,70);*/
/*sil light gray rgb(207,211,216);*/
/*blk black rgb(0,0,0);*/
/*wht white rgb(255,255,255);*/
